@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
body{
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(180deg,white,white,#c57206);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    background-color:#F78101;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}
.seleccion{
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #F78101;
    align-items: center;
}
.seleccion button{
    align-items: center;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 65px;
    color: #fff;
    background-color: #f85151;
    align-items: center;
    
}
li {
    float: right;
  }
  li a {
    background-position: right;
    font-size: 33px;
    float: right;
    display: block;
    color: #B06401;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .piePagina{
    background-color:#B75252;
    width: 100%;
  }
  
  .siguiente{
    width: 33px;
    height: 33px;
   align-items: left;
  }
  .atras{
    width: 33px;
    height: 33px;
   align-items: right;
  }


  /*menu*/
  nav {
    background-color: white;
    /* color de fondo del menú */
    overflow: hidden;
    display: inline-block;
}

nav ul li a {
    font-size: 23px;
}

ul {
    list-style-type: none;
    /* quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    /* cambia el comportamiento de la lista a flexbox */
}

li {
    display: inline-block;
    margin-right: 10px;
    float: left;
    /* alinea los elementos de la lista en horizontal */
}

li a {
    display: block;
    color: #F78101;
    text-align: center;
    padding: 14px 16px;
    /* espacio alrededor del texto del enlace */
    text-decoration: none;
}


  /*footer*/