body{
padding: 10px;
margin: 10px;
font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: linear-gradient(180deg,white,white,#c57206);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}
li a {
  background-position: right;
  font-size: 33px;
  float: right;
  display: block;
  color: #B06401;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.Logo {
  align-items:right;
  width: 165px;
  height: 120px;
}
.contenedor-producto{
  background-color: white;
}
.menu-barra{
  align-items: right;
  overflow-x: auto;
  background-color: white;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
.menu-item li a {
  display: block;
  padding: 10px;
   /* Cambia el color de texto aquí */
  text-decoration: none;
}
.menu-lista{
  display: flex;
}
.menu-item {
  flex-grow: 1;
  text-align: left;
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas con ancho igual */
  gap: 10px; /* Espacio entre los recuadros */
}
.producto {
  text-align: center;
  border-radius: 25px;
}
.producto img {
  border: 1px solid #F78101;
  padding: 5px;
  background-color: #F78101;
  max-width: 70%;
  border-radius: 15px;

}
.producto h3, .producto p {
  margin: 1px;
  font-size: 22px;
   }
  .piePagina{
    background-color:#B75252;
    max-width: 100%;
  }